[submodule "games/pythongame"]
	path = games/pythongame
	url = https://github.com/etchre/python-programming-game.git
[submodule "games/human-motion"]
	path = games/human-motion
	url = https://github.com/NatalieParker/human-motion-simulator.git
[submodule "games/BVoutbreak"]
	path = games/BVoutbreak
	url = https://github.com/jeinjein60/Biology-Virus-AI-Game.git
[submodule "games/matrix-meadow"]
	path = games/matrix-meadow
	url = https://github.com/atalania/Matrix-Meadow-Academy.git
[submodule "games/sonic-lab"]
	path = games/sonic-lab
	url = https://github.com/atalania/SonicLab.git
